<?xml version="1.0" encoding="UTF-8"?>
<plugin title="Pentaho Analysis Editor">

  <overlays>
    <overlay id="startup.phase" resourcebundle="api/repos/pqe/resources/messages/launchermessages.properties" priority="2">
      <menubar id="newmenu">
        <!--
        <menuitem
          id="pqe"
          label="Pentaho Query Editor"
          command="mantleXulHandler.openUrl('Pequer old', 'Pequer old', 'content/pqe/resources/html/query-builder.html')"
        />
        -->
        <menuitem
          id="phase"
          label="Pentaho Analysis Editor"
          command="mantleXulHandler.openUrl('Phase', 'Phase', 'content/phase/resources/html/index.html')"
        />
      </menubar>
    </overlay>
  </overlays>


  <static-paths>
    <static-path url="/phase/resources/js" localFolder="resources/js"/>
    <static-path url="/phase/resources/css" localFolder="resources/css"/>
    <static-path url="/phase/resources/images" localFolder="resources/images"/>
    <static-path url="/phase/resources/html" localFolder="resources/html"/>
    <static-path url="/phase/resources/mui" localFolder="resources/mui"/>
    <static-path url="/phase/lib" localFolder="lib"/>
  </static-paths>

<!--
  <external-resources>
    <file context="requirejs">content/pequer/resources/js/pequer-require-js-cfg.js</file>
  </external-resources>
-->

</plugin>

