.phase-hierarchy-diagram div > table.measure > tbody > tr.measure,
.phase-hierarchy-diagram div > table.relation > tbody > tr.level,
.phase-hierarchy-diagram div > table.relation > tbody > tr.relation {
  background-color: #cbdde8;
  color: white;
}


.phase-hierarchy-diagram div.relation > table.relation > tbody > tr.dimension-primary-key > td.checkbox {
  background-image: url('../images/key.png');
}

.phase-hierarchy-diagram div.level > table.level > tbody > tr.level {
  background-color: lightgrey;
  color: black;
}

.phase-hierarchy-diagram div.level > table.level > tbody > tr.level > td.icon {
  background-image: url('../images/level.png');
}

.phase-hierarchy-diagram div.level > table.level > tbody > tr.level-column-column > td.icon {
  background-image: url('../images/column_16x16.png');
}

.phase-hierarchy-diagram div.level > table.level > tbody > tr.level-column-nameColumn > td.icon {
  background-image: url('../images/column-text.png');
}

.phase-hierarchy-diagram div.level > table.level > tbody > tr.level-column-captionColumn > td.icon {
  background-image: url('../images/label.png');
}

.phase-hierarchy-diagram div.level > table.level > tbody > tr.level-column-ordinalColumn > td.icon {
  background-image: url('../images/sort-az.png');
}

.phase-hierarchy-diagram div.level > table.level > tbody > tr.level-column-parentColumn > td.icon {
  background-image: url('../images/parent.png');
}
