.phase-cube-editor form fieldset legend {
  background-image: url('../images/cube.png');
}

.phase-cube-editor form fieldset legend:after {
  content: "Cube";
}

.toolbar .new-measure {
  background-image: url('../images/new-measure.png');
}

.toolbar .new-calculated-member {
  background-image: url('../images/new-calculated-member.png');
}

.toolbar .new-dimension {
  background-image: url('../images/new-private-dimension.png');
}

.toolbar .new-dimension-usage {
  background-image: url('../images/new-dimension-usage.png');
}
