.phase-dimension-editor form fieldset legend {
  background-image: url('../images/dimension.png');
}

.phase-dimension-editor form fieldset legend:after {
  content: "Dimension";
}

.phase-shared-dimension-editor form fieldset legend:after {
  content: "Shared Dimension";
}

.phase-private-dimension-editor form fieldset legend:after {
  content: "Private Dimension";
}

.toolbar .new-hierarchy {
  background-image: url('../images/new-hierarchy.png');
}
