.phase-hierarchy-editor form fieldset legend {
  background-image: url('../images/hierarchy.png');
}

.phase-hierarchy-editor form fieldset legend:after {
  content: "Hierarchy";
}


.toolbar .new-level {
  background-image: url('../images/new-level.png');
}

