.phase-level-editor form fieldset legend {
  background-image: url('../images/level.png');
}

.phase-level-editor form fieldset legend:after {
  content: "Level";
}


.toolbar .new-property {
  background-image: url('../images/new-property.png');
}
